depthmap
blendincore
build/
calcTexCoord
createSem
deepzoomVIPS
dicedImage
engine
genOverlappingPoses
genRangeImg
lib/
meshvar
nonmem
osgdem
rangeimg
singleImageTex
sparseJoin
stereo_mesh_gen
testImageModel
threadedStereo
treeBBClip
vcgapps/bin/
vertCheck
vrip/bin/ply2verts
vrip/bin/plyadd
vrip/bin/plyaddinfo
vrip/bin/plyarea
vrip/bin/plybbox
vrip/bin/plybound
vrip/bin/plyclean
vrip/bin/plyclipbboxes
vrip/bin/plycomps
vrip/bin/plyconfcrop
vrip/bin/plyconfthresh
vrip/bin/plyconvert
vrip/bin/plycrunch
vrip/bin/plydice
vrip/bin/plyflip
vrip/bin/plyhead
vrip/bin/plymirror
vrip/bin/plynormals
vrip/bin/plyplanecrop
vrip/bin/plyremove
vrip/bin/plyshared
vrip/bin/plystrip
vrip/bin/plysubdiv
vrip/bin/plysubtract
vrip/bin/plysubtractlist
vrip/bin/plyunshared
vrip/bin/plyxform
vrip/bin/vripmarch
vrip/bin/vripnew
vrip/bin/vripsurf
vrip/bin/xyz2ply
vrip/src/vrip/vrip
vrip/src/vrip/vriphead
*.o
/vrip/bin/crunch.tcl
/vrip/bin/loadbalance
/vrip/bin/permute
/vrip/bin/ply2asc
/vrip/bin/ply2bin
/vrip/bin/plycull
/vrip/bin/plycullmaxx
/vrip/bin/plycullmaxx_inv
/vrip/bin/plydicegroup
/vrip/bin/plygridtomesh
/vrip/bin/plymerge
/vrip/bin/plyusages
/vrip/bin/plyvolume
/vrip/bin/pvrip1
/vrip/bin/pvrip2
/vrip/bin/pvripsplit
/vrip/bin/vrip
/vrip/bin/vripdicebbox
/vrip/bin/vriphead
/vrip/bin/vripslicer
/vrip/bin/vripsplit
/vrip/bin/vripsubvollist
/vrip/bin/vripupdate
/vrip/bin/vripxftrans
/vrip/include/Linear.h
/vrip/include/Matrix2f.h
/vrip/include/Matrix3f.h
/vrip/include/Matrix4f.h
/vrip/include/ply.h
/vrip/include/Quaternion.h
/vrip/include/sl_export.H
/vrip/include/sl_framebuffer.H
/vrip/include/sl_texture.H
/vrip/include/sl_val.H
/vrip/include/sl_vertex.H
/vrip/include/Vec3f.h
/vrip/src/libply/libply.a
/vrip/src/libply/plytest
/vrip/src/linear/liblinear.a
/vrip/src/linear/verify
/vrip/src/march/libmcfile.a
/vrip/src/march/vripmarch
/vrip/src/plyclean/plyclean
/vrip/src/plytools/ply2asc
/vrip/src/plytools/ply2bin
/vrip/src/plytools/ply2verts
/vrip/src/plytools/plyadd
/vrip/src/plytools/plyaddinfo
/vrip/src/plytools/plyarea
/vrip/src/plytools/plybbox
/vrip/src/plytools/plybound
/vrip/src/plytools/plyclipbboxes
/vrip/src/plytools/plycomps
/vrip/src/plytools/plyconfcrop
/vrip/src/plytools/plyconfthresh
/vrip/src/plytools/plycrunch
/vrip/src/plytools/plydice
/vrip/src/plytools/plydicegroup
/vrip/src/plytools/plyflip
/vrip/src/plytools/plyhead
/vrip/src/plytools/plymirror
/vrip/src/plytools/plynormals
/vrip/src/plytools/plyplanecrop
/vrip/src/plytools/plyremove
/vrip/src/plytools/plyshared
/vrip/src/plytools/plystrip
/vrip/src/plytools/plysubdiv
/vrip/src/plytools/plysubtract
/vrip/src/plytools/plysubtractlist
/vrip/src/plytools/plyunshared
/vrip/src/plytools/plyxform
/vrip/src/plytools/xyz2ply
/vrip/src/pvrip/plycullmaxx
/vrip/src/pvrip/plycullmaxx_inv
/vrip/src/pvrip/plymerge
/vrip/src/softrender/libsl.a
/threadpool_dist.pyc
/vipsVTAtlas
qtcreator-build
build
/CMakeLists.txt.user
/progressbar.pyc
/atlasmesh
/borderClip
vecmath.pyc
taskworkers.pyc
