          #==========================================================#
          #     ACFR AUV Project Mesh Reconstruction Config File     #
          #==========================================================#
#------------------------------------------------------------------------------#
#    Parameters for new ThreadedStereo based on Virtual Planet Builder         #
#------------------------------------------------------------------------------#
# SETTING THESE TO -1 SELECTS AUTO COMPUTATION OF SPLITS BASED ON 
# TEX_IMAGES_PER_CELL

IMAGE_SPLIT_COL -1 #SPLITS FOR REIMAGING 
IMAGE_SPLIT_ROW -1
REIMAGE_RES -1 #RES FOR REIMAGING DON'T EXCEED GPU MAX TEXTURE RESOLUTION 
SCALE_REMAP_TEX 1.0

TEX_IMG_PER_CELL 80
VRIP_IMG_PER_CELL 1000
SPARSE_RATIO 0.2
MM_PER_PIXEL 4
JPEG_QUALITY 95 # SET To  -1 for no jpeg compression
PROJ4_DEST_COORD "+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs"
#resize original images to this size for texturing intermediate 

SRC_TEX_SIZE 512

#threshold for edge length on individual frame triangulation
EDGE_THRESH 0.5

#resolution of vrip terrain
VRIP_RES 0.033
#ramp function control pt influence larger if less certain data
VRIP_RAMP 500.0
#smallest connected componet percent to not remove as outlier from final mesh
CC_CLEAN_PERCENT 0.2
#number of faces to be shown on screen won't simp below this and target each 
#lod for this amount
TARGET_SCREEN_FACES 150000
TARGET_BASE_LOD_DIVRES 1024
#------------------------------------------------------------------------------#
#    Image Normalisation Parameters                                            #
#------------------------------------------------------------------------------#
#
# The stereo image intensities are normalised to ensure some contast is present
# for the corner feature extractor in darker images.
#
NORMALISED_MEAN 128
NORMALISED_VAR  400


#------------------------------------------------------------------------------#
#    Stereo Corner Finder Options                                              #
#------------------------------------------------------------------------------#
#
# The stereo corner finder is used to extract features in stereo-pairs, which
# are triangulated to provide the 3D mesh structure.
#

# Maximum number of features found in each pair of stereo images
MAX_FEAT_COUNT 5000

# min distance between points
FEAT_MIN_DIST      3.0
#feature quality decrease for more features
FEAT_QUALITY_LEVEL      0.000001 
#epipolar dist for rejection of invalid matches decrease for less outliers
SCF_MAX_EPIPOLAR_DIST   2.0    # Max number of pixels from an epipolar line

#reduction of images for dense stereo
SD_SCALE 0.5
