          #==========================================================#
          #     ACFR AUV Project Mesh Reconstruction Config File     #
          #==========================================================#

#------------------------------------------------------------------------------#
#    Image Normalisation Parameters                                            #
#------------------------------------------------------------------------------#
#
# The stereo image intensities are normalised to ensure some contast is present
# for the corner feature extractor in darker images.
#
NORMALISED_MEAN 128
NORMALISED_VAR  400


#------------------------------------------------------------------------------#
#    Stereo Corner Finder Options                                              #
#------------------------------------------------------------------------------#
#
# The stereo corner finder is used to extract features in stereo-pairs, which
# are triangulated to provide the 3D mesh structure.
#

# Maximum number of features found in each pair of stereo images
MAX_FEAT_COUNT 5000

# Debugging image options
SCF_SHOW_DEBUG_IMAGES false
SCF_SAVE_DEBUG_IMAGES false
SCF_DEBUG_IMAGE_SCALE 0.5

# Options for finding the corners in the first image
SCF_MIN_DISTANCE      30.0
SCF_SEARCH_WINDOW_X    5
SCF_SEARCH_WINDOW_Y    5
SCF_ZERO_ZONE_X       -1
SCF_ZERO_ZONE_Y       -1
SCF_QUALITY_LEVEL      0.00000000000001 
#SCF_QUALITY_LEVEL      0.01 
SCF_SEARCH_ITERATIONS 10
SCF_BLOCK_SIZE 5
SCF_USE_HARRIS true

# Options for tracking the corners in the second image
SCF_USE_KNOWN_F         true   # Use the fundamental matrix from calibration
SCF_USE_EPIPOLAR_FILTER true   # Use epipolar geometry to cull bad tracks
SCF_MAX_EPIPOLAR_DIST   2.0    # Max number of pixels from an epipolar line
SCF_TRACK_WINDOW_X      25     # Size of the tracking window to be matched
SCF_TRACK_WINDOW_Y      25    
SCF_TRACK_MAX_ERROR     1000   # Maximum allowable tracking error 
SCF_PYRAMID_LEVEL       3      # Number of image pyramid levels
SCF_TRACK_ITERATIONS    20     # Tracking search iteration termination criteria
SCF_TRACK_EPSILON       0.03


#------------------------------------------------------------------------------#
#   Splitting Parameters                                                       #
#------------------------------------------------------------------------------#
#
# The two parameters below might require tweaking.
#
# If SPLIT_METHOD is "weight", threadedStereo will attempt to sub-divide the 
# mesh to prevent trajectory cross-over points from being divided. This works
# reasonably well in missions with sparse cross-over points, but can fail in 
# dense missions, producing hundred of tiny divisions.
#
# Ideally threadedStereo should produce between 50 and 100 sub-regions.
#
# You can see how many it has produced on an existing mesh, by looking in the 
# mesh directory at the .ive file names. They have the format 
#    blended-<region_number>-lod<lod_level>-t.ive  
# Look for the highest region number. The region numbers are not padded with
# zeros, so 244 will be listed before 99, so don't just look at the last one. 
#
# While threadedStereo is running, you can tell how many regions it is producing
# once it has finished triangulating features. It will print something like:
#    Vrip  12% 5/42
# In this case, threadedStereo is going to produce 42 regions.
#
# If the "weight" split method fails, use the "even" method that will subdivide
# the mesh into equal spaces.
#
# If threadedStereo is producing too many regions, increase the parameter
# SPLIT_CELL_SCALE until somewhere between 50 and 100 sub-regions are created.
#

SPLIT_METHOD "weight"     # "weight" or "even"

SPLIT_CELL_SCALE 1.0      # The maximum number of images in a region divided
                          # by three hundred or something like that. Increasing
                          # this value decreases the number of regions created.


#------------------------------------------------------------------------------#
#   Mesh Merging Parameters                                                    #
#------------------------------------------------------------------------------#
#
# The default is to use some "poisson" thing that doesn't work here. I don't 
# know what vrip and poisson are, but setting this option to true made
# threadedStereo work for me - Ian.
#
USE_VRIP true


#------------------------------------------------------------------------------#
#    Undocumented Parameters                                                   #
#------------------------------------------------------------------------------#
#
# FIXME: What do these do?
#

MONO_CAM false

TEX_SIZE_LOD0 512
TEX_SIZE_LOD1 256 
TEX_SIZE_LOD2 32

TEX_MARGIN_LOD0 10
TEX_MARGIN_LOD1 10
TEX_MARGIN_LOD2 100000000

VRIP_RAMP 500.0
VRIP_SUBVOL 40.0
VRIP_SPLIT 250
VRIP_RES 0.033

VRIP_MB_CLIP_MARGIN 0.1
VRIP_MB_CLIP_MARGIN_EXTRA 0.1

EDGE_THRESH 2.0

SD_METHOD "opencvBM"
SD_SCALE 0.5

CLEAN_POS_PTS false
DIST_GENTEX_RANGE 10
EXTRA_CLEAN false
HOLE_FILL_SIZE 10.0
CC_CLEAN_SIZE 5.0

SIMP_RES_1 0.005
SIMP_RES_2 0.1
SIMP_RES_3 0.5

POS_LOD2_MIN_DEPTH 6
POS_LOD2_DEPTH 8
POS_LOD0_MIN_DEPTH 8
POS_LOD0_DEPTH 11
POS_MIN_CLIP true


